/*Zurücksetzen*/

*{
	padding: 0;
	margin: 0;
}

#header{
}

#logoDiv{
	width: 10em;
	height: 10em;
	margin: 1em;
	float: left;
}

#headline{
	margin: 1em 1em 1em 0;
	height: 
}

#hone{
	margin: 2em;
}